@model ApplicationUser
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "User Profile";
    string userId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
    string roleName = HttpContextAccessor.HttpContext.Session.GetString("RoleName");
}

<main id="main">
    <div class="userProfileContent">
        <section class="container">
            <div class="row">
                <!-- left side -->
                <div class="col-md-3">
                    <div class="left all">
                        <div class="nameUser">
                            <div style="padding-bottom: 50px;padding-top:20px">
                                <img id="pp" src="@($"/Profile Pictures/{Model.ProfileImagePath}" ?? "/img/Profile picture.png")" onError="this.onerror=null;this.src='/img/Profile picture.png';" style="height: 130px;">
                            </div>
                            <div style="overflow-x:auto;">
                                <h3>@(!string.IsNullOrWhiteSpace(Model.FullName) ? Model.FullName : Model.UserName)</h3>
                            </div>
                            <div>
                                <p>@Model.EmployeeJobs.FirstOrDefault(p => p.IsCurrentPosition)?.JobPosition?.Name</p>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md  text-center">
                                    @if (!string.IsNullOrWhiteSpace(Model.CVFilePath))
                                    {
                                        <a id="cv" href="@Url.Content($"~/CVs/{Model.CVFilePath}")" class="btn btn-info col-md-7" target="_blank" onerror="dis()"><i class="far fa-file"></i> View My CV</a>
                                    }

                                </div>
                            </div>
                            <hr>
                            @if (userId == Model.Id.ToString())
                            {
                                <div style="padding-bottom: 20px;">
                                    <a href="@Url.Content($"~/account/updateinfo/{Model.Id}")" class="btn btn-info " style="color:#e72629;border:none;background-color: #00c9a7; ">User Panel</a>
                                </div>
                            }
                        </div>
                        <div class="mainInfo">
                            <h5>Main Information</h5>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-unstyled list-group text-left" style="overflow-x:auto;">
                                        <li class="list-group-item border-0"><i class="fas fa-briefcase"></i> Position: @(Model.EmployeeJobs.FirstOrDefault(p => p.IsCurrentPosition)?.JobPosition?.Name ?? "Not Specified")</li>
                                        <li class="list-group-item border-0"><i class="far fa-user"></i> Gender: @(Model.Gender)</li>
                                        <li class="list-group-item border-0"><i class="fas fa-envelope"></i> Email: @Model.Email</li>
                                        <li class="list-group-item border-0"><i class="fas fa-phone-square-alt"></i> Contact: @Model.PhoneNumber</li>
                                        <li class="list-group-item border-0"><i class="fas fa-flag"></i> Nationality: @(Model.Country?.Name ?? "Not Specified")</li>
                                        <li class="list-group-item border-0"><i class="fas fa-calendar-alt"></i> Date of birth: @(Model.DateOfBirth != DateTime.MinValue ? Model.DateOfBirth.ToString("dd-MM-yyyy") : "Not Specified")</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- center side -->
                <div class="col-md-6">
                    <div class="center all">
                        <div class="aboutMe">
                            <h4>About Me</h4>
                            <hr>
                            <p>
                                @Model.Bio
                            </p>
                        </div>
                        <!-- education-sction -->
                        <div class="Education details-Edu-Expe-Certi">
                            <h4>Education</h4>
                            <hr>
                            @if (Model.Education.Count > 0)
                            {
                                <div class="univeristy">
                                    <!-- university one -->
                                    @foreach (var edu in Model.Education)
                                    {
                                        <div class="uniDeails">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <h4>@edu.Institute</h4>
                                                    <h6>@edu.Major</h6>
                                                    <span>@edu.Year.ToString("MMM yyyy")</span>
                                                </div>
                                                <div class="col-md-3">
                                                    @*<img src="~/img/Rectangle 86.png" style="height: 46px;">*@
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <hr>
                                </div>

                            }
                            else
                            {
                                @: No Education yet
                            }
                        </div>

                        <!-- Expireenc-section -->
                        <div class="Experience details-Edu-Expe-Certi">
                            <h4>Experience</h4>
                            <hr>
                            @if (Model.EmployeeJobs.Count > 0)
                            {
                                <div class="Experience details-Edu-Expe-Certi">
                                    @foreach (var job in Model.EmployeeJobs)
                                    {
                                        <div class="experDeails">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <h4>@job.JobPosition.Name</h4>
                                                    <h6>@job.Company.CompanyName</h6>
                                                    <span>@job.FromDate.ToString("MMM yyyy") - @(job.ToDate == DateTime.MinValue ? "Present":job.ToDate.ToString("MMM yyyy") ) @((int)(job.FromDate - DateTime.Today).TotalDays / 30 + " months")</span>
                                                </div>
                                                <div class="col-md-3">
                                                    @*<img src="~/img/Rectangle 86.png" style="height: 46px;">*@
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    }
                                </div>
                            }
                            else
                            {
                                @:No jobs yet
                            }
                        </div>

                        <!-- Certificates-section -->
                        <div class="Certificates details-Edu-Expe-Certi">
                            <h4>Certificates</h4>
                            <hr>
                            @if (Model.Certificates.Count > 0)
                            {
                                <div class="Certificates details-Edu-Expe-Certi">
                                    @foreach (var certificate in Model.Certificates)
                                    {
                                        <div class="certiDeails">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <h4>@certificate.CourseName</h4>
                                                    <h6>@certificate.Institute</h6>
                                                    <span>@certificate.FromDate.ToString("MMM yyyy") - @(certificate.ToDate == DateTime.MinValue ? "Present" : certificate.ToDate.ToString("MMM yyyy") ) @((int)(certificate.FromDate - DateTime.Today).TotalDays / 30 + " months" )</span>
                                                </div>
                                                <div class="col-md-3">
                                                    @*<img src="@certificate.File" style="height: 46px;">*@
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    }

                                </div>
                            }
                            else
                            {
                                @:No certificates yet
                            }
                        </div>

                        <!-- gallary -->
                        <div class="gallary">
                        </div>
                    </div>
                </div>
                <!-- right side -->
                <div class="col-md-3">
                    <div class="right all">
                        <div class="people">
                            <h5>Who viewed your profile</h5>
                            <hr>
                            <!-- peopleViewed  -->
                            <div class="peopleViewed">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="~/img/Ellipse 18.png" style="height:40px ;">
                                    </div>
                                    <div class="col-md-6">
                                        <p>Ahmed Lotfi</p>
                                        <span>Nas Group</span>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-warning">
                                            <i class="fas fa-user-plus "
                                               style="color: #fff;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- peopleViewed  -->
                            <div class="peopleViewed">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="~/img/Ellipse 18.png" style="height:40px ;">
                                    </div>
                                    <div class="col-md-6">
                                        <p>Ahmed Lotfi</p>
                                        <span>Nas Group</span>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-warning">
                                            <i class="fas fa-user-plus "
                                               style="color: #fff;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- peopleViewed  -->
                            <div class="peopleViewed">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="~/img/Ellipse 18.png" style="height:40px ;">
                                    </div>
                                    <div class="col-md-6">
                                        <p>Ahmed Lotfi</p>
                                        <span>Nas Group</span>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-warning">
                                            <i class="fas fa-user-plus "
                                               style="color: #fff;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        @*<div class="Premium">
                            <img src="~/img/Rectangle 60.png" style="height: 159px;">
                            <h4>Swan Global WLL</h4>
                            <p>Grow & nurture your network</p>
                            <hr>
                            <button type="button" class="btn btn-outline-danger">Activate</button>
                        </div>*@
                        <div class="peopleKnow">
                            <h5>People you might know</h5>
                            <hr>

                            <div class="item-people">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h6>Rajan V.</h6>
                                        <p>Aquaplex FZE, U.A.E.</p>
                                        <span> <i class="fas fa-map-marker-alt"></i>Qatar</span>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="~/img/Rectangle 82.png" style="height: 46px;">
                                    </div>
                                </div>
                                <hr>
                                <p style="color: #ea222a;">18 connections</p>
                                <hr>
                                <span><i class="far fa-clock"></i> Posted 3 Days ago</span>
                            </div>

                            <div class="item-people">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h6>Rajan V.</h6>
                                        <p>Aquaplex FZE, U.A.E.</p>
                                        <span> <i class="fas fa-map-marker-alt"></i>Qatar</span>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="~/img/Rectangle 82.png" style="height: 46px;">
                                    </div>
                                </div>
                                <hr>
                                <p style="color: #ea222a;">18 connections</p>
                                <hr>
                                <span><i class="far fa-clock"></i> Posted 3 Days ago</span>
                            </div>


                            <div class="item-people">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h6>Rajan V.</h6>
                                        <p>Aquaplex FZE, U.A.E.</p>
                                        <span> <i class="fas fa-map-marker-alt"></i>Qatar</span>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="~/img/Rectangle 82.png" style="height: 46px;">
                                    </div>
                                </div>
                                <hr>
                                <p style="color: #ea222a;">18 connections</p>
                                <hr>
                                <span><i class="far fa-clock"></i> Posted 3 Days ago</span>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</main>
<!-- End #main -->
<script>
    //var hrefCV = cv.getAttribute('href')
    function dis() {
        var cv = document.getElementById("cv");
        cv.setAttribute("disabled")

    }
</script>