@model Question
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    string userId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
}

<main id="main">
    <div class="JobContent">
        <section class="container">
            <div class="row">
                <!-- center side -->
                <div class="col-md-9">
                    <div class="center all">
                        <!-- education-sction -->

                        <div class="Education details-Edu-Expe-Certi">
                            <div class="univeristy">
                                <!-- Q one -->
                                <div class="uniDeails">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <img style="height:40px;border-radius: 10px;"
                                                 src="@($"/Profile Pictures/{Model.User.ProfileImagePath}" ?? "/img/Profile picture.png")"
                                                 onError="this.onerror=null;this.src='/img/Profile picture.png';" alt="Profile Picture" />
                                        </div>
                                        <div class="col-md-11">
                                            <div>
                                                <h2>@Model.Title</h2>
                                            </div>
                                            <div>
                                                <small style="padding-right: 20px;">@Model.User.FullName</small>
                                                <small>
                                                    @Model.CreatedDate
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div id="Answers">

                                    @foreach (var ans in Model.Answers)
                                    {
                                        <div class="row">
                                            <div class="col-md-1">
                                                <img style="width:50px; height:50px"
                                                     src="@($"/Profile Pictures/{ans.User.ProfileImagePath}" ?? "/img/Profile picture.png")"
                                                     onError="this.onerror=null;this.src='/img/Profile picture.png';" alt="Profile Picture" />
                                            </div>
                                            <div class="col-md-11">
                                                <h4>
                                                    @{
                                                        if (!string.IsNullOrWhiteSpace(ans.User.FullName))
                                                        {
                                                            <text>@ans.User.FullName</text>
                                                        }
                                                        else if (!string.IsNullOrWhiteSpace(ans.User.CompanyName))
                                                        {
                                                            <text>@ans.User.CompanyName</text>

                                                        }
                                                        else
                                                        {
                                                            <text>@ans.User.Email</text>
                                                        }
                                                    }

                                                </h4>
                                                <small>@ans.CreatedDate</small>
                                            </div>
                                        </div>
                                        <h5>@ans.Text</h5>
                                        @if (ans.UserID.ToString() == userId)
                                        {
                                            <button class="btn btn-danger" onclick="Delete(@ans.ID)">Delete</button>
                                        }
                                        <hr />

                                    }

                                </div>
                                @if (userId != Model.UserID.ToString())
                                {
                                    <form id="AddAnswerForm">
                                        <input hidden name="UserId" value="@userId" />
                                        <textarea class="form-control" name="Text" cols="3" rows="2" placeholder="Answer this ..."></textarea>
                                        <button class="btn btn-primary">Send</button>
                                    </form>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>




@section Scripts
{
    <script>


    $('#AddAnswerForm').on('submit', function (e) {
        e.preventDefault();

        var data = $('#AddAnswerForm').serializeArray();
        var formData = new FormData();

        data.forEach(function (item, index) {
            formData.append(item.name, item.value)
        });

        $.ajax({
            method: "POST",
            data: formData,
            url: '@Url.Content($"~/questions/addanswer/{Model.ID}")',
            processData: false,
            contentType: false,
            success: function (result) {
                var name = '';
                if (result.user.fullName && result.user.fullName != '')
                {
                    name = result.user.fullName;
                }
                else if (result.user.companyName && result.user.companyName != '')
                {
                    name = result.user.companyName;
                }
                else
                {
                    name = result.user.email;
                }

                $("#Answers").append(`<div class="row">
              <div class="col-md-1">
                <img style="width:50px; height:50px" src="${result.user.profileImagePath == null ? "/img/Profile picture.png" : "/Profile Pictures/" + result.user.profileImagePath}" onError="this.onerror=null;this.src='/img/Profile picture.png';" alt="Profile Picture" /></div>
                                            <div class="col-md-11">
                                                <h4>${name}</h4>
                                                <small>Just now</small>
                                            </div>
                                        </div>
                                        <h5>${result.text}</h5>`);
                $("textarea").val('');
            },
            error: function (xhr, ajaxSettings, statusCode) {
                console.log(xhr.responseText);
            }
        });
    });

        function Delete(id) {
            $.ajax({
                method: "POST",
                url: `@Url.Content($"~/Questions/DeleteAnswer")/${id}`,
                success: function () {
                    window.location.reload();
                },
                error: function (xhr, ajaxSettings, statusCode) {
                    console.log(xhr.responseText);
                }
            });
        }
    </script>
}